@page
@model IndexModel
@{
    ViewData["Title"] = "Johnson Controls Building App"; }

<div class="text-center">
    <h1>Good afternoon, JCI customer!</h1>
    <img src="https://seekvectorlogo.net/wp-content/uploads/2019/04/software-house-from-tyco-security-products-vector-logo.png" alt="JCI" />
    <p>The time is @DateTime.Now</p>
</div>
