@page
@model IndexModel
@{
    ViewData["Title"] = "Johnson Controls .Net Edge Application";

<div class="text-center">
    <h1>Johnson Controls Customer</h1>
    <p>The time on the server is @DateTime.Now</p>
</div>
