@page
@model IndexModel
@{
    ViewData["Title"] = "Dotnet web application"; }

<div class="text-center">
    <h1>Good afternoon, Customer!</h1>
    <img src="https://logos-world.net/wp-content/uploads/2022/01/NET-Framework-Logo-700x394.png" alt="DOTNET" />
    <p>The time is @DateTime.Now</p>
</div>
