@page
@model IndexModel
@{
    ViewData["Title"] = "Johnson Controls Building App"; }

<div class="text-center">
    <h1>Good afternoon, JCI customer!</h1>
    <img src="https://www.johnsoncontrols.com/-/media/jci/campaigns/2020/openblue/ob-enterprise-svglogo.svg?la=en&hash=340265B84060900E8A5F39831B7FC2BC369D2165" alt="OpenBlue" />
    <p>The time is @DateTime.Now</p>
</div>
