@page
@model IndexModel
@{
    ViewData["Title"] = "Johnson Controls Web App"; }

<div class="text-center">
    <h1>Good afternoon, JCI customer!</h1>
    <p>The time is @DateTime.Now</p>
</div>
